<footer class="sticky">
  <div class="address">
    <h3>Address</h3>
      <p>61/63 Avenue Simone Veil</p>
  </div>

  <div class="contact">
    <h3>Contact Us</h3>
      <p>Email: Test@Test.com</p>
  </div>

  <div class="community">
    <h3>Community</h3>
    <nav>
      <ul>
        <li>
          <a href="https://fr-fr.facebook.com/" class="link"><i class="fab fa-facebook" style="color: white;"></i></a>
        </li>
        &nbsp;
        <li>
          <a href="https://twitter.com/" class="link"><i class="fab fa-twitter-square" style="color: white;"></i></a>
        </li>
        &nbsp;
        <li>
          <a href="https://www.instagram.com/?hl=fr" class="link"><i class="fab fa-instagram" style="color: white;"></i></a>
        </li>
        &nbsp;
        <li>
          <a href="https://www.youtube.com/?gl=FR&hl=fr" class="link"><i class="fab fa-youtube-square" style="color: white;"></i></a>
        </li>
      </ul>
    </nav>
  </div>

</footer>
